*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    transform-style: preserve-3d;
}

*::selection{
    background-color: rgba(255,0,0,0.7);
    color:black;
}

body{
    background-color: black;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
    /* scroll-snap-type: y mandatory; */
}

/*Anim Starts*/

/*Anim Ends*/



a{
    text-decoration: none;
    color: white;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    z-index: 3;
}

#main-cosmic, #main-quarks{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0);
    overflow: hidden;
    z-index: 2;
    text-align: center;
    animation: appear 1s 0.5s ease;
}



@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#shorttext{
    position: absolute;
    color: white;
    bottom: 9rem;
    right: 8em;
    display: block;
    z-index: 3;
    font-size: 2rem;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    /* display: flex;
    flex-direction: row; */
    padding: 10px 0 5px 0;
    padding-left: 30vw;
    width: 100vw;
    height: 5em;
    padding-right: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(160, 160, 160);
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Montserrat', sans-serif;
    z-index: 10000;
    transition: all 0.5s ease;
}

#NavClose{
    display: none;
}
/* nav.scrolled{
    
    font-size: 0.8em;
    transform-origin: right;
    
    background-color: rgba(21, 255, 0, 0.644);

} */

nav ul{
    display: flex;
    width: 70vw;
    padding-right: 30px;
    flex-direction: row;
    list-style: none;
    font-size: 1.5em;
    justify-content: flex-end;
    align-items: baseline;
}

nav ul li{
    margin: 0 16px 0 16px;
}

.navs{
    padding: 3px 10px 3px 10px;
    margin: 5px;
    color: rgb(160, 160, 160);
    border: rgba(244, 5, 5, 0) solid 2px;
    z-index: 100;
}

.navs:hover{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: red solid 2px;
    transition: 0.3s ease border-radius, 0.5s ease border-color;
}

.navs a{
    color: rgb(235, 235, 235);
}

/* .navs::after {
    content: ' ';
    height: 2px;
    border-radius: 4px;
    width: 100%;
    position: relative;
    display: block;
    color: antiquewhite;
    background-color: antiquewhite;
    bottom: 0px;
    transform-origin: left;
    transform: scale(0);
    transition: 0.5s ease;
}

.navs:hover::after {
    transform: scale(1);
} */

/* 
#Home{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
} */

#logo{
    position: absolute;
    z-index: 6;
    width: 90vh;
    height: 90vh;
    top: 0;
}

#logo::selection{
    background-color: rgba(0, 0, 0, 0);
}

.navs a::selection{
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
}

#logo2{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 20px;
    width: 120px;
    height: 80px;
}

#logo2::selection{
    background-color: rgba(0, 0, 0, 0);
}



section{
    
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    padding: 50px;
    color: white;
    overflow-y: hidden;
    scroll-snap-align: start;
    transform-style: preserve-3d;
    
}

#abUs{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* top: 100vh; */
    font-size: 1.3rem;
    /* scroll-snap-align: start; */
}

#abUs h1{
    font-size: 3rem;
    margin: 50px;
}
/* #abUs h1 span{
    color: rgb(79, 9, 136);
} */

#Theory{
    /* top: 200vh; */
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 1.3rem;
}

#Theory h1{
    font-size: 3rem;
    margin: 50px;
}
/* #Theory h1 span{
    color: rgb(79, 9, 136);
} */
#Work{
    /* top: 300vh; */
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 1.3rem;
}

#Work h1{
    font-size: 3rem;
    /* margin: 50px; */
    height: 5rem;
}
/* #Work h1 span{
    color: rgb(79, 9, 136);
    margin: 30px;
} */

section h1 span::selection{
    color: white;
}

#Report{
    width:22rem;
    padding: 15px;
    border-radius: 15px;
    margin: 30px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    overflow-y: hidden;
}

#Report:hover{
    background: red ;
    color: black;
    box-shadow: 7px 7px rgb(148, 7, 7);
    transform: translate(-5px,-5px) scale(0.9);
}

#Home{
    height: 100vh;
}

#Contact{
    height: 100vh;
}

#Team h1{
    font-size: 3em;
    text-align: center;
}

#Team h1::selection{
    background-color: blueviolet;
    color: black;
}

#Team h1 span{
    color: blueviolet;
}


#Report a{
    color: inherit;
    font-weight: 600;
}

[data-scroll]{
    transition: all 2s 0.3s;
}

[data-scroll="out"]{
    opacity: 0;
    transform: translate(0,60px);
}
[data-scroll="out"] span{
    color: white;
    transition: all 0.5s;
}

[data-scroll="in"]{
    opacity: 1;
    transform: translate(0,0);
}

section p{
    text-align: center;
}

#abUs p{
    /* border: solid 2px rgb(7, 73, 196); */
    padding: 20px;
    border-radius: 40px;
    font-size: 1.7rem;
    /* box-shadow: 10px 10px blue; */
}
#Theory p{
/*     border: solid 2px rgb(7, 196, 48);
 */    padding: 20px;
    border-radius: 40px;
    font-size: 1.7rem;

    /* box-shadow: 10px 10px green; */
}
#Work p{
   /*  border: solid 2px rgb(202, 166, 4); */
    padding: 20px;
    border-radius: 40px;
    /* box-shadow: 10px 10px yellow; */
}
#Team p{
   /*  border: solid 2px rgb(196, 7, 149); */
    padding: 20px;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 40px;
}
#Contact p{
   /*  border: solid 2px rgb(7, 196, 149); */
    padding: 20px;
    border-radius: 40px;
}

#abUs p::selection{
    background-color: rgba(7, 73, 196,0.7);
}
#Theory p::selection{
    background-color: rgb(7, 196, 48);
}
#Work p::selection{
    background-color: rgb(202, 166, 4);
}
#Team p::selection{
    background-color: rgb(196, 7, 149);
}
#Contact p::selection{
    color: rgb(7, 196, 149);
}

/*color of the spans*/
#abUs [data-scroll="in"] span{
    color: rgb(7, 73, 196);
    transition: all 2.3s ;
}
#Theory [data-scroll="in"] span{
    color: rgb(7, 196, 48);
    transition: all 2.3s ;
}
#Work [data-scroll="in"] span{
    color: rgb(202, 166, 4);
    transition: all 2.3s ;
}
#Team [data-scroll="in"] span{
    color: blueviolet;
    transition: all 2.3s ;
}
#Contact [data-scroll="in"] span{
    color: rgb(196, 7, 149);
    transition: all 2.3s ;
}


h1,p{
    overflow: hidden;
}

#Home [data-scroll="in"]{
    opacity: 1;
    transform: scale(1);
    transition: all 6s;
    transform-origin: right;
}
#Home [data-scroll="out"]{
    opacity: 0;
    transform: scale(40);
    transition: all 1s;
}

#abUs h1::selection{
    background-color: rgb(7, 73, 196) ;
}
#abUs h1 span::selection{
    color: white ;
    background-color: rgb(7, 73, 196);
}
#Theory h1::selection{
    background-color: rgb(7, 196, 48) ;
}
#Theory h1 span::selection{
    color: white ;
    background-color: rgb(7, 196, 48);
}
#Work h1::selection{
    background-color: rgb(202, 166, 4) ;
}
#Work h1 span::selection{
    color: white ;
    background-color: rgb(202, 166, 4);
}
#Team h1::selection{
    background-color: blueviolet;
}
#Team h1 span::selection{
    color: white ;
    background-color: blueviolet;
}
#Contact h1::selection{
    background-color: rgb(7, 196, 149) ;
}
#Contact h1 span::selection{
    color: white ;
    background-color:  rgb(7, 196, 149);
}

.scrolled{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 1);
    border: red solid 2px;
    
    transition: 2.5s ease border-radius, 2.5s ease border-color;
}

.scrolled:hover{
    background-color: rgb(0, 0, 0);
    transform: translate(-2px,-2px);
    box-shadow: red 3px 3px;
}
/* .scrolled{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 1);
    border: red solid 2px;
    box-shadow: red 3px 3px;
    
    transition: 2.5s ease border-radius, 2.5s ease border-color;
}

.scrolled:hover{
    background-color: rgb(0, 0, 0);
    transform: translate(2px,2px);
    box-shadow: red 1px 1px;
} */

.navclick{
    background-color: rgb(0, 0, 0);
    transform: translate(-1px,-1px);
    box-shadow: red 3px 3px;
}

#Team{
    height: max-content;
    
}



#Team{
    padding: 0;
    height: 105vw;
}

#Team h1{
    margin: 50px;
}



#Team section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 100vw;
    overflow: visible;
    padding: 0;
    margin: 0;
}

#Team section .members{
    position: relative;
    width: 16vw;
    height: 16vw;
    margin: 2vw;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: visible;
    
}

#Team section .members .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
    transform: rotateY(180deg);
    overflow: visible;
    border-radius: 20px;
    
}

#Team section .members:hover .box{
    transform: rotateY(0deg);
}

#Team section .members .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    
}

#Team section .members .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
    border-radius: 20px;
    transform: rotateY(180deg);
}

#Team section .members .box .cntBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    overflow: visible;
}

#Team section .members .box .cntBx div.co{
    height: 57%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: coral;
    transform: translateZ(100px);
    overflow: visible;
    background-color: #6617cb;
background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}

#Simulation{
   width: 50vw;
   margin: auto;
   margin-top: 30px ;
   margin-bottom: 30px ;
}

#Simulation video{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.co div{
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.co div i{
    overflow: visible;
    padding: 5px;
    font-size: 1.4em;
    transition: 0.5s ease;
    border: 2px solid rgba(0, 0, 0, 0);
}

.co div i:hover{
    color: black;
    overflow: visible;
    border: rgba(7, 73, 196,1);
}

.co div.name{
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
}

#Team h1 span{
    color: blueviolet;
}

/* #Team section #Snape .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    
}
#Team section #Raj .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Adrian .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Kween .box .cntBx div.co{
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    
}
#Team section #Bhakti .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Akshita .box .cntBx div.co{
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    
}
#Team section #Param .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #mathBoi .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Rutanshi .box .cntBx div.co{
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    
}
#Team section #Ashika .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Sree .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Alice .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #sruthi .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Syamadas .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Keerthi .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Sahasra .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Aswathi .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Suneet .box .cntBx div.co{
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    
}
#Team section #Padmashree .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}
#Team section #Apoorv .box .cntBx div.co{
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

} */

#Team section #Padmashree{
    visibility: hidden;
}

#Team section #Apoorv{
    visibility: hidden;
}

section#Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#Contact h1{
    font-size: 3rem;
    
}
section#Contact p{
    margin: 60px;
}


section#Contact div {
    overflow: visible;
    font-size: 2em;
}
section#Contact div a i{
    font-size: 5rem;
    overflow: visible;
    margin: 30px;
    border: 2px solid transparent;
}

section#Contact h1 span{
    color: rgb(196, 7, 149);
}
section#Contact h1::selection{
    background-color:  rgb(196, 7, 149);
    color:black;
}
section#Contact h1 span::selection{
    background-color: rgb(196, 7, 149);
    color: white;
}

section#Contact div p::selection{
    background-color: rgb(196, 7, 149);
    color: black;
}

#Work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mob{
    display: none;
}

#fun{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#fun h1{
    position: absolute;
    font-size: 3em;
    overflow: visible;
    padding: 3px;
    top: 0;
}

#fun h1 i{
    overflow: visible;
}

#fun h1 span{
    color: red;
}

.slidershow{
    width: 80vw;
    height: 70vh;
    overflow: hidden;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 2000%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 5%;
    transition: 0.6s;
    overflow: visible;
    display: grid;
    place-items: center;
  }
  .slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -5%;
  }
  #r3:checked ~ .s1{
    margin-left: -10%;
  }
  #r4:checked ~ .s1{
    margin-left: -15%;
  }
  #r5:checked ~ .s1{
    margin-left: -20%;
  }
  #r6:checked ~ .s1{
    margin-left: -25%;
  }
  #r7:checked ~ .s1{
    margin-left: -30%;
  }
  #r8:checked ~ .s1{
    margin-left: -35%;
  }
  #r9:checked ~ .s1{
    margin-left: -40%;
  }
  #r10:checked ~ .s1{
    margin-left: -45%;
  }
  #r11:checked ~ .s1{
    margin-left: -50%;
  }
  #r12:checked ~ .s1{
    margin-left: -55%;
  }
  #r13:checked ~ .s1{
    margin-left: -60%;
  }
  #r14:checked ~ .s1{
    margin-left: -65%;
  }
  #r15:checked ~ .s1{
    margin-left: -70%;
  }
  #r16:checked ~ .s1{
    margin-left: -75%;
  }
  #r17:checked ~ .s1{
    margin-left: -80%;
  }
  #r18:checked ~ .s1{
    margin-left: -85%;
  }
  #r19:checked ~ .s1{
    margin-left: -90%;
  }
  #r20:checked ~ .s1{
    margin-left: -95%;
  }

  #kwter{
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

  }

  #kwter h1{
      position: absolute;
      top: 40px;
      width: 100vw;
      font-size: 3rem;
      text-align: center;
  }

  #kwter h1 span{
      color: #f00000;
      font-weight: 800;
  }

  #kwter div{
      width: 40vw;
      height: 50vh;
      box-shadow: #a40606 -2px -2px;
      margin: auto;
      overflow: visible;
  }

  #kwter div video{
      height: 100%;
  }

/*   .furm{
      height: 30vh;
  }

.furm form{
    display: flex;
    width: 100vw;
}

.furm form .ins{
    width: 50vw;
    margin: auto;
    display: grid;
    place-items: center;
}

.furm form #formsubmit{
    position: absolute;
    bottom: 15px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.furm form #formsubmit input{
    background-color: transparent;
    color: rgb(255, 255, 255);
    background-color: #f00000;
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace;
    padding: 1rem;
    width: 22rem;
    border-radius: 20px;
    font-weight: 700;
    cursor: crosshair;
    
}

#fname,#fmail{
    width: 30vw;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: #a40606 2px solid;
    border-radius: 35px;
    font-size: 1.3rem;
    color: rgb(128, 122, 122);
    text-align: center;
    font-family: 'Roboto Mono',monospace;
}

#fname:focus,#fmail:focus{
        outline: 2px solid transparent;
}

.inslabel{
    width: 50vw;
    text-align: center;
    align-self: flex-start;
    font-family: 'Roboto Mono',monospace;
    font-size: 1.8rem;
}

.furm form #formsubmit input:focus{
    outline: transparent;
}

.furm form #formsubmit input:hover{
    background: red ;
    color: black;
    box-shadow: 7px 7px rgb(148, 7, 7);
    transform: translate(-5px,-5px) scale(0.95);
}
 */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border: 2px solid rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,rgb(158, 7, 7),rgb(188, 201, 10));
    border-radius: 5px;
}

#Contact div p span{
    color: rgb(196, 7, 149);
    font-weight: 700;
}

#Contact div p span::selection{
    background-color: rgb(196, 7, 149);
    color: white;
}

#Contact div a i{
    transition: .5s ease;
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 30px;
    color:  rgb(196, 7, 149);
}

#Contact div a i:hover{
    color:  rgb(255, 255, 255);
    border:  rgb(196, 7, 149) 5px solid;
}

.openmenu{
    display: none;
}

#mySidenav{
    display: none;
}

#Theory{
    height: auto;
}

#theorylist{
    list-style-type: disc;
    font-size: inherit;
}

#theorylist li{
    text-align: left;
    font-size: 1.7rem;
    padding: 10px;
    overflow: visible;
}

#theorylist li span{
    color: rgb(41, 212, 6);
    padding: 5px;
    border: rgb(37, 194, 6) solid 3px;
    border-radius: 70px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content; */
    text-align: center;
    margin-right: 10px;
    line-height: 135%;
}

.Syss{
    margin: 2rem;
    font-size: 2em;
    color: rgb(202, 166, 4);
    overflow: visible;
    padding: 5px;
}

.Syss::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(202, 166, 4);
}

#Simulation{
    overflow: visible;
}

#shorttext{
    position: absolute;
    text-align: center;
    font-size: 1.6rem;
    bottom: 85px;
    right: 250px;
    color: #acacac;
}

#Simulation p{
    overflow: visible;
    transform: translate(-12vw);
    width: 75vw;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}